<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPICSWebService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ian2017.valhalla.local/PICSWebService/PICSWebService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPICSWebService"
                contract="IPICSWebService" name="BasicHttpBinding_IPICSWebService" />
        </client>
    </system.serviceModel>
</configuration>